<aside class="sidebar" id="sidebar">
  <div class="sidebar-content">
      <div class="user-profile">
          <div class="profile-avatar">
              <span>J</span>
          </div>
          <span class="profile-name">Juanito</span>
          </div>

      <nav class="nav-menu">
          <button routerLink="/pagina-inicio" routerLinkActive="active" class="nav-item" data-target="user-management-view">
              <span class="nav-icon"><img src="assets/iconos/user.svg" alt="Icono check" class="icon"></span>
              <span>Usuarios</span>
          </button>
          <button class="nav-item" data-target="appointments-view">
              <span class="nav-icon"><img src="/iconos/cita.svg" alt="Icono check" class="icon"></span>
              <span>Citas</span>
          </button>
          <button class="nav-item" data-target="services-view">
              <span class="nav-icon"><img src="/iconos/servicios.svg" alt="Icono check" class="icon"></span>
              <span>Servicios</span>
          </button>
          <button class="nav-item" data-target="schedule-view">
              <span class="nav-icon"><img src="/iconos/horario.svg" alt="Icono check" class="icon"></span>
              <span>Horario de atención</span>
          </button>
          <button class="nav-item" data-target="plan-view">
              <span class="nav-icon"><img src="/iconos/plan.svg" alt="Icono check" class="icon"></span>
              <span>Mi plan actual</span>
          </button>
          <button class="nav-item" id="informesNav" data-target="reports-view">
              <span class="nav-icon"><img src="/iconos/informe.svg" alt="Icono informe" class="icon"></span>
              <span>Informe</span>
          </button>
      </nav>
  </div>
</aside>
