<aside class="sidebar" [class.open]="isOpen" id="sidebar">
  <div class="sidebar-content">
      <!-- ✅ Perfil de usuario con datos dinámicos -->
      <div class="user-profile">
          <div class="profile-avatar">
              <!-- ✅ Mostrar inicial dinámica -->
              <span>{{ userInitial }}</span>
          </div>
          <!-- ✅ Mostrar nombre completo dinámico -->
          <span class="profile-name">{{ userFullName }}</span>
      </div>

      <nav class="nav-menu">
          <button routerLink="/crear-usuario" routerLinkActive="active" class="nav-item" data-target="user-management-view">
              <span class="nav-icon"><img src="assets/iconos/user.svg" alt="Icono check" class="icon"></span>
              <span>Usuarios</span>
          </button>
          <button routerLink="/citas" routerLinkActive="active" class="nav-item" data-target="appointments-view">
              <span class="nav-icon"><img src="assets/iconos/cita.svg" alt="Icono check" class="icon"></span>
              <span>Citas</span>
          </button>
          <button routerLink="/lista-servicio" routerLinkActive="active" class="nav-item" data-target="services-view">
              <span class="nav-icon"><img src="assets/iconos/servicios.svg" alt="Icono check" class="icon"></span>
              <span>Servicios</span>
          </button>
          <button routerLink="/horario" routerLinkActive="active" class="nav-item" data-target="schedule-view">
              <span class="nav-icon"><img src="assets/iconos/horario.svg" alt="Icono check" class="icon"></span>
              <span>Horario de atención</span>
          </button>
          <button routerLink="/plan" routerLinkActive="active" class="nav-item" data-target="plan-view">
              <span class="nav-icon"><img src="assets/iconos/plan.svg" alt="Icono check" class="icon"></span>
              <span>Mi plan actual</span>
          </button>
          <button routerLink="/informe" routerLinkActive="active" class="nav-item" id="informesNav" data-target="reports-view">
              <span class="nav-icon"><img src="assets/iconos/informe.svg" alt="Icono informe" class="icon"></span>
              <span>Informe</span>
          </button>
          <button
    routerLink="/cliente-final/formulario"
    routerLinkActive="active"
    class="nav-item"
    data-target="cliente-final-view">
    <span class="nav-icon">
      <img src="assets/iconos/user.svg" alt="cliente" class="icon">
    </span>
    <span>Cliente Final</span>
</button>

      </nav>
  </div>
</aside>
