<header class="header">
  <div class="header-left">
    <div class="logo">
      <span>
        <img src="assets/iconos/logo.svg" alt="Logo" class="icon" />
      </span>
    </div>
    <button class="menu-toggle" (click)="toggleSidebarClicked()" id="menuToggle">
      <span class="icon">
        <img src="assets/iconos/menu.svg" alt="Menú" class="icon" />
      </span>
    </button>
  </div>
  <div class="header-right">
    <div class="user-avatar">
      <span class="icon">👤</span>
    </div>
  </div>
</header>
